@tailwind components;
@tailwind utilities;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.glass {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 5px 5px 5px rgba(42, 55, 68, 0.1);
}

#home-banner {
  background-image: url('../images/rice-plow-man.jpeg');
}